<div id="<%= dom_id payment_method %>">
  <p>
    <strong>Kind:</strong>
    <%= payment_method.kind %>
  </p>

  <p>
    <strong>Last 4:</strong>
    <%= payment_method.last_4 %>
  </p>

  <p>
    <strong>Ex:</strong>
    <%= payment_method.ex_id %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= payment_method.account_id %>
  </p>

</div>
