<div id="<%= dom_id pass_template_field %>">
  <p>
    <strong>Name:</strong>
    <%= pass_template_field.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= pass_template_field.description %>
  </p>

  <p>
    <strong>Path:</strong>
    <%= pass_template_field.path %>
  </p>

  <p>
    <strong>Default value:</strong>
    <%= pass_template_field.default_value %>
  </p>

  <p>
    <strong>Pass template:</strong>
    <%= pass_template_field.pass_template_id %>
  </p>

</div>
