<div id="<%= dom_id billing_ledger %>">
  <p>
    <strong>Account:</strong>
    <%= billing_ledger.account_id %>
  </p>

  <p>
    <strong>Event name:</strong>
    <%= billing_ledger.event_name %>
  </p>

  <p>
    <strong>Properties:</strong>
    <%= billing_ledger.properties %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= billing_ledger.amount %>
  </p>

  <p>
    <strong>Payment method:</strong>
    <%= billing_ledger.payment_method_id %>
  </p>

  <p>
    <strong>Issued pass:</strong>
    <%= billing_ledger.issued_pass_id %>
  </p>

  <p>
    <strong>Memo:</strong>
    <%= billing_ledger.memo %>
  </p>

</div>
