<div id="<%= dom_id issued_pass %>">
  <p>
    <strong>Pass template:</strong>
    <%= issued_pass.pass_template_id %>
  </p>

  <p>
    <strong>Issue date:</strong>
    <%= issued_pass.issue_date %>
  </p>

  <p>
    <strong>Install date:</strong>
    <%= issued_pass.install_date %>
  </p>

  <p>
    <strong>Install ip:</strong>
    <%= issued_pass.install_ip %>
  </p>

  <p>
    <strong>Install user agent:</strong>
    <%= issued_pass.install_user_agent %>
  </p>

  <p>
    <strong>Delivered via:</strong>
    <%= issued_pass.delivered_via %>
  </p>

  <p>
    <strong>Delivered date:</strong>
    <%= issued_pass.delivered_date %>
  </p>

</div>
