<section class="bg-ninja-red">
  <div class="text-center pt-12 w-full">
    <h1 class="text-6xl text-white font-light font-oswald mx-auto">WE ARE ON A MISSION</h1>
    <p class="text-white text-xl w-11/12 md:w-4/12 mx-auto mt-8">
      With dozens of years of experience in near field communication and API development - <strong>we're here to take NFC mainstream.</strong>
    </p>
  </div>
</section>

<%= inline_svg_tag "website/triangle.svg", class: "text-ninja-red" %>

<section class="container mx-auto bg-off-black text-center pt-20">
  <h2 class="text-6xl text-white font-light font-oswald mx-auto uppercase">Meet the team</h2>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-4 w-4/5 mx-auto mt-12 text-center">
    <div class="md:border-r md:border-white mb-24">
      <%= image_tag "website/grundy.jpg", class: "rounded-full h-32 mx-auto block" %>
      <strong class="font-semibold block text-white mt-4">Richard Grundy</strong>
      <span class="font-light text-ninja-red text-sm">Co-founder</span>

      <p class="font-light text-sm text-white mt-2 w-10/12 mx-auto">
        Richard leads all of the product ideationand vision. Originally born in Argentina, Richard immigrated to the U.S. in 2016 to work in research and development around near field communications. You can find him on his boat when he's not dreaming up the future for PassNinja.
      </p>
    </div>

    <div class="md:border-r md:border-white mb-24">
      <%= image_tag "website/augustus.jpg", class: "rounded-full h-32 mx-auto block" %>
      <strong class="font-semibold block text-white mt-4">Augustus Barajas</strong>
      <span class="font-light text-ninja-red text-sm">CEO</span>

      <p class="font-light text-sm text-white mt-2 w-10/12 mx-auto">
        Augustus has extensive experience in dev tooling, serving as a 4x CTO in former roles. Operational experience at hyper-scale startups makes his contributions to PassNinja invaluable. You can find him reading a book or working out when he's not leading the charge at PassNinja.
      </p>
    </div>

    <div class="mb-24">
      <%= image_tag "website/andres.jpg", class: "rounded-full h-32 mx-auto block" %>
      <strong class="font-semibold block text-white mt-4">Andres Weber</strong>
      <span class="font-light text-ninja-red text-sm">Full Stack Developer
</span>

      <p class="font-light text-sm text-white mt-2 w-10/12 mx-auto">
        Andres is one half of the dev team! He was raised in New York, lived in Boston, tried out LA but realized Florida really has some incredible weather! While he's not playing with computers at work he’s a local Dungeon Master, does nerdy things, bakes bread and loves climbing rocks.
      </p>
    </div>
  </div>
</section>

<section class="mt-8 relative h-[1950px] md:h-[900px]">
  <div class="h-[1850px] md:h-[850px] w-9/12 md:w-6/12 bg-gray-600 absolute"></div>

  <div class="absolute w-full pt-12">
    <div class="md:container mx-auto flex">

      <div class="w-full text-center">
        <h3 class="uppercase font-light font-oswald leading-tight text-ninja-red tracking-tight mt-4 text-5xl md:text-6xl">
          OUR VALUES
        </h3> 
      </div>
    </div> <!-- end of section header -->

    <div class="container mx-auto">
      <div class="w-11/12 mt-16 mx-auto grid grid-cols-1 md:grid-cols-3">
        <div class="flex-col mt-12">
          <%= inline_svg_tag "website/letter-v.svg", class: "" %>
          <strong class="text-white text-xl inline-block my-6 font-bold">
            Honesty over everything
          </strong>
          <p class="text-white w-11/12 md:text-lg">
            We believe that honesty is the most important quality and aim to be clear and honest with everyone on the team as well as every single customer.
          </p>
        </div>

        <div class="flex-col mt-12">
          <%= inline_svg_tag "website/Star.svg", class: "" %>
          <strong class="text-white text-xl inline-block my-6 font-bold">
            Bleeding Edge
          </strong>
          <p class="text-white w-11/12 md:text-lg">
            We love innovation and work with customers to cross pollinate ideas that have worked in other use cases.
          </p>
        </div>

        <div class="flex-col mt-12">
          <%= inline_svg_tag "website/fast.svg", class: "" %>
          <strong class="text-white text-xl inline-block my-6 font-bold">
            Fast is a first principle
          </strong>
          <p class="text-white w-11/12 md:text-lg">
            We are committed to breakneck speed. If we say something can be done is because we’ve probably done it and can show you how.
          </p>
        </div>


        <!-- row 2 -->
        <div class="flex-col mt-12">
          <%= inline_svg_tag "website/charity.svg", class: "" %>
          <strong class="text-white text-xl inline-block my-6 font-bold">
            Diversity is key
          </strong>
          <p class="text-white w-11/12 md:text-lg">
            Creating great tools requires knowing a lot of makers. We love to learn what makes each builder unique so we can help elevate their craft.
          </p>
        </div>

        <div class="flex-col mt-12">
          <%= inline_svg_tag "website/spanner.svg", class: "" %>
          <strong class="text-white text-xl inline-block my-6 font-bold">
            Keep it tight
          </strong>
          <p class="text-white w-11/12 md:text-lg">
            We seek to minimize our footprint and promote only what’s needed. A well made service should be intuitive to use and reliable to build upon.
          </p>
        </div>

        <div class="flex-col mt-12">
          <%= inline_svg_tag "website/shield.svg", class: "" %>
          <strong class="text-white text-xl inline-block my-6 font-bold">
            Privacy built in
          </strong>
          <p class="text-white w-11/12 md:text-lg">
            In a data centric world, users require total control of their data. Our service is built on payments grade security with consumer privacy in mind.
          </p>
        </div>
      </div>
    </div> <!-- end of container -->
  </div>
</section>

<section class="mt-12 relative">
  <div class="w-8/12 h-[36rem] mb-12">
    <iframe src="https://maps.google.com/maps?q=7171%20Bay%20Dr.%20Ste.%209%20Miami%20Beach%2C%20FL%2033141&amp;t=&amp;z=17&amp;ie=UTF8&amp;iwloc=&amp;output=embed" width="100%" height="100%" frameborder="0" style="border:0"></iframe>
  </div>

  <div class="w-4/12 absolute right-72 top-14">
    <div class="rounded-xl bg-white shadow shadow-xl p-12">
      <h4 class="uppercase text-5xl leading-normal text-off-black font-light font-oswald">BUILT IN MIAMI 🌴 & REMOTELY ALL OVER PLANET EARTH 🌍</h4>
      <p class="mt-10">Our headquarters are in sunny Miami, Florida but our team gets to work from anywhere.</p>

      <div class="flex mt-6">
        <%= inline_svg_tag "website/icons/location.svg", class: 'w-8 pb-2 text-ninja-red' %>
        <span class="pt-2">7171 Bay Dr. Ste. 9 Miami Beach, FL 33141</span>
      </div>
    </div>
  </div>
</section>