<section class="absolute flex w-full top-0 z-0">
  <div class="w-7/12 pt-12 pl-20">
    <h1 class="text-7xl text-white font-light font-oswald mt-12">
      <span class="text-ninja-red">PASSNINJA</span>
      HELPS BUILD <br/> NFC EXPERIENCES <br/> ACROSS MOBILE
    </h1>

    <p class="text-gray-200 text-2xl mt-8 w-8/12">
      Use our software and APIs to create, issue, update, and revoke passes for Apple Wallet and Google Pay in minutes instead of months.
    </p>

    <div>
      <%= link_to "Get Started for Free", "/", class: "inline-block my-8 font-semibold border border-white px-5 py-2 rounded-full text-sm bg-white text-black" %>

      <%= link_to "Learn more", "/", class: "inline-block ml-10 underline font-semibold text-sm text-white" %>        
    </div>

    <div class="flex text-gray-200">
      <div class="flex pt-0.5">
        <%= inline_svg_tag "website/icons/google.svg", class: 'h-7 text-white' %>
        <%= inline_svg_tag "website/icons/apple.svg", class: 'h-6 text-white' %>
      </div>

      <span class="text-xs pt-1.5 ml-3">
        We support Apple iPhone, iWatch and Google Android wallets
      </span>
    </div>
  </div>

  <div class="w-5/12">
    <%= inline_svg_tag "website/red-patch.svg", class: 'some-class' %>
  </div>
</section>

<section class="w-full top-0 z-0">
  <div class="container mx-auto flex">
    <div class="w-7/12">
      &nbsp;
    </div>

    <div class="w-5/12" data-controller="website">
      <div class="relative mt-6 w-fit mx-auto" data-action="mouseup->website#revealUnclick mousemove->website#revealSlide">
        <div class="w-96 mx-auto rounded-lg" data-website-target="revealContainer">
          <!-- component -->
          <div class="flex items-center justify-center">
            <div class="h-[32rem] w-full bg-code-gray shadow-2xl rounded-lg overflow-hidden">
              <div id="header-buttons" class="py-3 px-4 flex">
                <div class="rounded-full w-3 h-3 bg-red-500 mr-2"></div>
                <div class="rounded-full w-3 h-3 bg-yellow-500 mr-2"></div>
                <div class="rounded-full w-3 h-3 bg-green-500"></div>
              </div>
              <div class="py-4 px-8 mt-1 text-white text-xs font-code">
                <code data-website-target="revealCodeContainer"></code>
              </div>
            </div>
          </div>
          <!-- end of code component -->
        </div>
        <%= image_tag "website/Slider-Example@2x.jpg", class: "absolute inset-0 h-[32rem] w-96 mx-auto rounded-lg", style: "clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%)", data: { "website-target": "revealImage" } %>

        <div class="absolute inset-y-0 rounded-lg" style="left: 50%" data-website-target="revealBorder">
          <div class="relative h-full">
            <div class="absolute inset-y-0 bg-gray-800 w-0.5 -ml-px"></div>
            <button class="h-6 w-6 -ml-3 -mt-6 rounded-full bg-off-black border border-white w-0.5 absolute top-1/2 shadow-2xl" data-action="mousedown->website#revealClick"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="my-48">
  <div class="text-center">
    <h2 class="text-6xl text-white font-light font-oswald mt-12">
      BUILD BETTER USER EXPERIENCES  
    </h2>
  </div>

  <div class="mt-24 container mx-auto">
    <ul class="w-full grid grid-cols-2 md:grid-cols-4 gap-4 text-center">
      <li class="flex-col">
        <%= inline_svg_tag "website/enter.svg", class: 'mx-auto' %>
        <p class="text-white mt-8 font-bold">Allow Convenient<br/> Door Access</p>
      </li>
      <li class="flex-col">
        <%= inline_svg_tag "website/car.svg", class: 'mx-auto' %>
        <p class="text-white mt-8 font-bold">Create Magic<br/> Car Keys</p>
      </li>
      <li class="flex-col">
        <%= inline_svg_tag "website/customer.svg", class: 'mx-auto' %>
        <p class="text-white mt-8 font-bold">Drive Customer<br/> Loyalty</p>
      </li>
      <li class="flex-col">
        <%= inline_svg_tag "website/contactless.svg", class: 'mx-auto' %>
        <p class="text-white mt-8 font-bold">Enable Contactless<br/> Boarding</p>
      </li>
    </ul>
  </div>
</section>

<section class="my-24 container mx-auto flex">
  <div class="w-1/2 pl-12">
    <h3 class="uppercase text-8xl font-light font-oswald leading-tight text-white tracking-tight">
      <span class="relative custom-underline small">Mobile</span><br/>
      <span class="relative custom-underline medium">engagement</span><br/>
      <span class="relative custom-underline large">is changing</span>
    </h3>  
  </div>

  <div class="w-1/2">
    <p class="mt-6 uppercase text-ninja-red text-5xl leading-snug font-light font-oswald tracking-tight">
      APP FATIGUE IS REAL - <br/> 
      WE’VE CREATED TOOLS TO <br/> 
      ALLOW YOU TO BUILD THE NEXT <br/>
      FRONTIER OF ENGAGEMENT FOR <br/>
      YOUR CUSTOMERS.
    </p>
  </div>
</section>

<section class="mt-72 container mx-auto flex">
  <div class="w-1/2 pl-12">
    <%= image_tag "website/Ticketing@2x.png", class: "hd-96" %>
  </div>


  <div class="w-1/2 pt-48">
    <strong class="uppercase text-ninja-red text-5xl font-light font-oswald">Ticketing</strong>
    <p class="font-light text-gray-200 text-2xl w-9/12 mt-8">Create the ticket that your attendees will never lose. Built right into an app that comes with their phone, with the ability to update seats, location and more all via push. </p>
  </div>
</section>

<section class="my-32 container mx-auto flex">
  <div class="w-1/2 pt-48 pl-36">
    <strong class="uppercase text-ninja-red text-5xl font-light font-oswald">Access Control</strong>
    <p class="font-light text-gray-200 text-2xl w-9/12 mt-8">Drop those fobs. Build access control into your building, elevator, office or any other antiquated system. All you need is a phone number or email to grant or revoke access with our access control tools.</p>
  </div>

  <div class="w-1/2">
    <%= image_tag "website/Access@2x.png", class: "hd-96" %>
  </div>
</section>

<section class="my-32 container mx-auto flex">
  <div class="w-1/2 pl-12">
    <%= image_tag "website/Loyalty@2x.png", class: "hd-96" %>
  </div>


  <div class="w-1/2 pt-48">
    <strong class="uppercase text-ninja-red text-5xl font-light font-oswald">Loyalty</strong>
    <p class="font-light text-gray-200 text-2xl w-9/12 mt-8">Give your customers the rewards they deserve, without any hassle. We're talking instant enrollment, with the ability to push new offers directly to their phone and more.</p>
  </div>
</section>

<section class="mt-32 container mx-auto flex">
  <div class="w-1/2 pt-48 pl-36">
    <strong class="uppercase text-ninja-red text-5xl font-light font-oswald">Coupons</strong>
    <p class="font-light text-gray-200 text-2xl w-9/12 mt-8">Bring coupons to your customer experience that belong in this century. Coupons that are tailored directly to your customer, with notifications that send redemption rates through the roof.</p>
  </div>

  <div class="w-1/2">
    <%= image_tag "website/Coupons@2x.png", class: "hd-96" %>
  </div>
</section>

<section class="mt-8 relative h-[650px]">
  <div class="h-[650px] w-full md:w-9/12 bg-gray-600 absolute"></div>

  <div class="absolute w-full pt-12">
    <div class="container mx-auto flex">
      <div class="w-3/12">
        <%= image_tag "website/Star.png", class: "ml-8" %>
      </div>

      <div class="w-9/12">
        <h3 class="uppercase text-8xl font-light font-oswald leading-tight text-white tracking-tight mt-4">
          <span class="relative custom-underline left-aligned large z-20">Built for developers</span>
        </h3> 

        <%= link_to "Check out our Tutorials and Docs", "/tutorials", class: "inline-block my-8 mr-12 font-semibold border border-white px-5 py-2 rounded-full text-sm bg-white text-black float-right" %>
      </div>
    </div> <!-- end of section header -->

    <div class="container mt-16 mx-auto grid grid-cols-1 md:grid-cols-3">
      <div class="flex-col">
        <%= image_tag "website/bullhorn.png", class: "" %>
        <strong class="text-white text-xl inline-block my-6 font-bold">
          API first
        </strong>
        <p class="text-white w-11/12 text-lg">
          We built the API we wish existed, making it possible to create and issue a pass in just two simple API calls with the client library of your choice; in Swift, React Native, Python, Ruby & PHP.
        </p>
      </div>

      <div class="flex-col">
        <%= inline_svg_tag "website/shield.svg", class: "" %>
        <strong class="text-white text-xl inline-block my-6 font-bold">
          Secure
        </strong>
        <p class="text-white w-11/12 text-lg">
          We encrypt all communications and never store personally identifiable information about your customers on our servers.
        </p>
      </div>

      <div class="flex-col">
        <%= inline_svg_tag "website/spanner.svg", class: "" %>
        <strong class="text-white text-xl inline-block my-6 font-bold">
          Maintenance free
        </strong>
        <p class="text-white w-11/12 text-lg">
          Never worry about expiring certificates, server uptime, cross-platform compatibility or NFC reader configuration. It’s all baked into the platform.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="my-32 container mx-auto flex">
  <div class="w-1/2 pl-12">
    <p class="mt-6 uppercase text-ninja-red text-5xl leading-snug font-light font-oswald tracking-tight text-right mr-16">
      Here's what our<br/> 
      customers think.
    </p>
  </div>

  <div class="w-1/2">
    <div class="w-4/5 flex-col">
      <%= image_tag "website/avatar2@2x.png", class: "rounded-full h-36 pl-16 my-8" %>

      <div class="relative">
        <div class="blockquote pl-16">
          <blockquote class="text-white font-light text-2xl pl-2">
            This works smooth & amazing, yes this is exactly what we‘re looking for! I‘ll play a bit with this, really like your work.”
          </blockquote>
        </div>
      </div>

      <p class="mt-8 text-white pl-16 ml-2">
        <strong class="text-ninja-red font-semibold">Sebastian Hirth</strong>
        <br/>
        Founder / <%= link_to "Blackmite", "https://blackmite.com/index", target: "_blank" %>
      </p>

    </div>
  </div>
</section>

<section class="my-36 container mx-auto text-center">
  <h3 class="mt-6 mb-12 mx-auto uppercase text-ninja-red text-5xl leading-snug font-light font-oswald tracking-tight">
    With pre-built libraries in your favorite language
  </h3>

  <div class="flex text-left" data-controller="website">
    <div class="w-1/2">
      <div>
        <ul class="flex justify-between mx-auto w-3/5" data-website-target="homepageCodeTabs">
          <li data-action="click->website#toggleCodeSampleTab">
            <%= link_to "#node", class: "flex-col pb-6 px-2 border-b-4 border-ninja-red text-ninja-red" do %>
              <%= inline_svg_tag "website/icons/nodejs.svg", class: "inline-block" %>
            <% end %>
          </li>
          <li data-action="click->website#toggleCodeSampleTab">
            <%= link_to "#python", class: "flex-col pb-6 px-2 text-white" do %>
              <%= inline_svg_tag "website/icons/python.svg", class: "inline-block" %>
            <% end %>
          </li>
          <li data-action="click->website#toggleCodeSampleTab">
            <%= link_to "#ruby", class: "flex-col pb-6 px-2 text-white" do %>
              <%= inline_svg_tag "website/icons/ruby.svg", class: "inline-block" %>
            <% end %>
          </li>
          <li data-action="click->website#toggleCodeSampleTab">
            <%= link_to "#php", class: "flex-col pb-6 px-2 text-white" do %>
              <%= inline_svg_tag "website/icons/php.svg", class: "inline-block" %>
            <% end %>
          </li>
        </ul>
        <div class="mt-3 mx-auto w-4/5 h-96 p-3 rounded-md bg-code-gray text-xs font-code" data-website-target="homepageCodeTabContent">
          <code data-website-target="nodeSampleCode" class="block overflow-scroll"></code>
          <code data-website-target="pythonSampleCode" class="block hidden overflow-scroll"></code>
          <code data-website-target="rubySampleCode" class="block hidden overflow-scroll"></code>
          <code data-website-target="phpSampleCode" class="block hidden overflow-scroll"></code>
        </div>
      </div>
    </div>
    <div class="w-1/2">
      <ol class="flex-col mt-8 w-3/5">
        <li class="mb-8 text-white" data-action="click->website#highlightCode">
          <strong class="font-semibold text-2xl mb-2 inline-block">1. Activate your account</strong><br/>
          <p class="text-lg">Simple signup, verify your account via  email and you're ready.</p>
        </li>
        <li class="mb-8 text-white">
          <strong class="font-semibold text-2xl mb-2 inline-block">2. Set up a pass template</strong><br/>
          <p class="text-lg">Via API or our interface and you're ready to create new passes from there!</p>
        </li>
        <li class="mb-8 text-white">
          <strong class="font-semibold text-2xl mb-2 inline-block">3. Start issuing passes</strong><br/>
          <p class="text-lg">Use our API to create passes that can be sent to your customers via email or sms.</p>
        </li>
        <li>
          <%= link_to "Read our Documentation", "/docs", class: "inline-block mr-12 font-semibold border border-white px-5 py-2 rounded-full text-sm bg-white text-black" %>
        </li>
      </ol>
    </div>
  </div>
</section>

<section class="my-36 container mx-auto">
  <h3 class="uppercase text-8xl font-light font-oswald leading-tight text-white tracking-tight mt-4 flex">
    <span class="bg-ninja-red px-4 py-3 mt-[3.3rem]">
      <%= image_tag "website/ninja@2x.png", class: "h-56 relative -top-16" %>
    </span>

    <span>
      <span class="relative custom-underline medium">We're a 
      partner</span><br/>
      <span class="relative custom-underline medium">not just a provider</span>
    </span>
  </h3> 

  <p class="pl-60 text-2xl font-light text-white mt-12 w-4/6">
    We're privately owned, and in this for the long-haul. Since 2018 we've handled hundreds of thousands of NFC scans for companies of all sizes. Our support team is available around the clock.
  </p>
</section>

<section>
  <%= image_tag "website/phones-image@2x.png", class: "w-full" %>
</section>