<!DOCTYPE html>
<html>
  <head>
    <title>PassNinja</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Oswald:wght@300;400&family=Work+Sans:wght@300;400&family=Source+Code+Pro:wght@300&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="<%= @bg_color ? @bg_color : 'bg-off-black' %>">
    <div class="container mx-auto">
      <%= render partial: 'static/partials/header' %>
    </div>
    <main class="overflow-hidden <%= 'bg-off-black' if @bg_color %>">
      <%= yield %>
    </main>
    <%= render partial: 'static/partials/footer', locals: { show_cta: @show_cta } %>
  </body>
</html>
